<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nginx</title>
    <!-- Enlace al archivo CSS de Tailwind CSS (puedes descargarlo o utilizar un CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <!-- Barra de navegación -->
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto">
            <h1 class="text-2xl font-semibold">Index</h1>
        </div>
    </nav>

    <!-- Encabezado -->
    <header class="bg-gray-900 text-white py-16">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-semibold">Prueba</h2>
            <p class="mt-4 text-lg">Desarrollo.</p>
            <a href="#contacto"
                class="mt-8 inline-block px-6 py-3 bg-blue-500 text-white rounded-full hover:bg-blue-600">Contáctanos</a>
        </div>
    </header>

    <!-- Sección de SVG animado -->
    <section class="bg-gray-200 py-16">
        <div class="container mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                <!-- Agrega aquí tu imagen SVG animada -->
            </svg>
        </div>
    </section>

</body>

</html>